body {
    margin: 0;
    font-family: Georgia, serif;
    background: #fff;
    color: #222;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background: linear-gradient(to right, #111, #2a2a99);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.header-icons {
    font-size: 18px;
    gap: 12px;
}

.cart-page {
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

.cart-items {
    width: 60%;
}

.cart-items h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.cart-items span {
    font-size: 20px;
}

hr {
    border: none;
    border-top: 3px solid #222;
    margin: 10px 0 30px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.cart-image {
    width: 70px;
    height: 70px;
    background: #ccc;
    border-radius: 20px;
    margin-right: 20px;
}

.item-info .name {
    font-size: 20px;
    margin-bottom: 4px;
}

.item-info .price {
    font-size: 16px;
    margin-bottom: 6px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-controls button {
    padding: 4px 10px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #000;
    background: #fff;
}

.cart-summary {
    width: 30%;
    border: 2px solid #b48eff;
    padding: 20px;
    border-radius: 6px;
    height: fit-content;
}

.summary-header {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background: white;
    border: 1px solid #000;
    cursor: pointer;
    text-decoration: underline;
}
.back-btn {
    display: inline-block;
    padding: 8px 20px;
    background: #eee;
    color: #222;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    transition: background 0.2s;
    margin-bottom: 20px;
}
.back-btn:hover {
    background: #ddd;
}