.registration-container {
    position:relative;
    min-height: 100vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info-side {
    position: absolute;
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
    top: 30%;

    transform: translateY(-50%) translateX(0);

}

.reg-box {
    position:relative;
    width: 500px;
    background: #fff;
}

