header {
    background: linear-gradient(120deg, #000, #3a3ad6 100%);
}

.company-name {
    left:120%;
}

.hero-container {
    background: linear-gradient(120deg, #000 0%, #3a3ad6 100%);
    color: #fff;
}

.banner {
    max-width: 700px;
    border-radius: 15px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.shop-container {
    background: linear-gradient(120deg, #000 0%, #3a3ad6 100%);
    color: #fff;
}